* {
  font-family: "HelveticaNeue-Thin", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
}

h3 {
  font-family: "HelveticaNeue-Thin", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#smaller-brand-heading {
  font-family: "HelveticaNeue-Thin";
  font-weight: 100;
  text-transform: none;
}

.masthead {
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

h1 {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

