* {
  font-family: "HelveticaNeue-Thin", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100; /* Sets helvetica neue to the default system font for website */
}

h3 {
  font-family: "HelveticaNeue-Thin", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif; /* Added cause windows is weird? */
}

#smaller-brand-heading {
  font-family: "HelveticaNeue-Thin";
  font-weight: 100;
  text-transform: none; /* Text for the 'hi my name is' part */
}

.masthead {
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif; /* Windows error probably lies within these 2 selectors*/
}

h1 {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

